<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Hellllo <%= name %></h1>

    <p style="background: rgb(16, 221, 16) ; padding: 10px; border-radius: 20px">Lorem, ipsum dolor sit amet consectetur adipisicing , veniam ab. Sint corporis vero impedit quis error officiis totam magnam. Magnam nemo illum maiores.</p>

<p style="background: rgb(16, 221, 16) ; padding: 10px; border-radius: 20px"><%=numbers%></p>


<% if (name ="saliah"){%>
    <div>
        name is saliah
        </div>
<%}%>
</body>
</html>